page-shop {
    ion-slides {
        height: 300px;
        ion-slide {
            .custom-praline {
                // z-index: 12;
                h4 {
                    font-family: 'Cantarell';
                }
                .custom-bar {
                    width: 100px;
                    height: 2px;
                    margin: auto;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(249, 249, 249, 0.5) 1%, rgba(59, 59, 59, 1) 34%, rgba(7, 7, 7, 1) 43%, rgba(7, 7, 7, 1) 53%, rgba(38, 38, 38, 1) 59%, rgba(246, 246, 246, 0.5) 100%);
                }
            }
        }
    }
    //CSS Dragula
    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }
    .gu-hide {
        display: none !important;
    }
    .gu-unselectable {
        -webkit-user-select: none !important;
        user-select: none !important;
    }
    .gu-transit {
        opacity: 0.2;
        // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
    .panier {
        background: transparent !important
    }
    #down_icon {
        width: 30px !important;
        height: 30px !important;
    }

    .txt_choice{
        color: color($colors, noir);
    }
}